bin/
data/encode10/
data/encode65/
data/ensembl/
data/sequin/
plots/.RData
plots/encode10/
plots/encode65/
plots/figures/
plots/legend/
plots/sequin/
plots/summary.Rout
programs/bamkit
programs/cufflinks
programs/gffcompare
programs/gtfcuff
programs/gtfformat
programs/gtfmerge
programs/scallop
programs/scallop.v0.9.8
programs/stringtie
programs/transcomb
programs/transcomb_v.1.0/
results/encode10/
results/encode65/
results/sequin/
